@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #000000;
}

h2{
    font-size: 2em;
    color: #f5f5f5;

}

section{
    margin: 75px auto;
}

.start {
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.start .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;    
}

.start .logo img {
    width: 150px;
    height: 80px;
    position: absolute;
    left: 10px;
    border-radius: 10px;
}

.start .logo h1 {
    font-size: 4em;
    color: #f5f5f5;
    margin: 0;
}



.acao {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
}

#palavra {
    font-family: 'Goldman', sans-serif;
    font-size: 3em;
    color: #f5f5f5;
    margin: 0;
}

.cursor {
    font-size: 3em;
    color: orange;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

#resultado-stats {
    display: block !important;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.input-comentario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.input-comentario .comentario button {
    background-color: #c73f3f;
    color: #f5f5f5;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

.busca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.busca .comentario button {
    background-color: #3fc79a;
    color: #f5f5f5;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

.funcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.funcoes .entrar .fazer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #3f95c7;
    color: #f5f5f5;
    border: none;
    padding: 10px 25px;
    margin: 10px auto;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    gap: 20px;
}


