spring:
  application:
    name: sentiment
  profiles:
    active: dev


  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:devdb
    driverClassName: org.h2.Driver
    username: sa
    password: password

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false


server:
  port: 8081